@use 'src/styles/vars';
@use 'src/styles/placeholders';

.navbar {
    @extend %flex-column;

    position: sticky;
    top: 0;
    background-color: vars.$bg-dark;
    border-left: 2px solid vars.$color-platinum;
    width: vars.$navbar-width;
    height: 100vh;
    padding: vars.$page-padding;
    box-shadow: -20px 4px 30px rgba(0, 0, 0, 0.26);

    h2 {
        @extend %font-inter;
        font-size: 28px;
        color: vars.$color-lotion;
        padding: 8px 0;
    }
}

.navHead {
    border-bottom: 1px solid vars.$color-lotion;
}

.navLinks {
    @extend %flex-column;
    padding: 1rem 0;
    gap: 0.75rem;

    li {
        list-style-type: none;
    }
}

%link {
    @extend %font-inter;
    font-weight: 200;
    font-size: 20px;
    color: vars.$color-pure-white;
}

.inactiveLink {
    @extend %link;
}

.activeLink {
    @extend %link;
    font-weight: 700;
}

.navNews {
    @extend %flex-column;
    @extend %overflow-column;
    height: 100%;
    gap: 60px;
}

.seeMoreLink {
    @extend %base-button;
    align-self: flex-end;
}
