@use 'src/styles/vars';
@use 'src/styles/placeholders';

.navbar {
    $height: 100vh;
    @extend %flex-column;
    gap: 2rem;
    position: fixed;
    right: 0;
    background-color: vars.$bg-dark;
    border-left: 3px solid vars.$text-light;
    padding: 4rem vars.$navbar-padding-sides;
    width: vars.$navbar-width;
    max-width: vars.$navbar-width;
    height: $height;
    max-height: $height;
}

.navHead {
    font-size: 1.75rem;
    border-bottom: 2px solid vars.$text-light;
}

.navLinks {
    @extend %flex-column;
    gap: 0.25rem;
    font-weight: 100;
}

.navNews {
    @extend %flex-column;
    @extend %overflow-column;
    align-items: flex-start;
    gap: 1rem;
    height: 525px;
}

.navNewsHead {
    font-size: 1.6rem;
    font-weight: 600;
}
