@use 'src/styles/vars';
@use 'src/styles/placeholders';

$standard-padding: 1rem 0;
$standard-rem: 0.75rem;
$header-size: 28px;

.navbar {
    @extend %flex-column;

    position: sticky;
    top: 0;
    background-color: vars.$bg-dark;
    border-right: 1px;
    width: vars.$navbar-width;
    height: 100vh;
    padding: 40px;

    h2 {
        @extend %font-inter;
        font-size: $header-size;
        color: vars.$color-lotion;
        padding: 8px 0;
    }
}

.navHead {
    border-bottom: 1px solid vars.$color-lotion;
}

.navLinks {
    @extend %flex-column;
    padding: $standard-padding;
    gap: $standard-rem;

    p {
        @extend %font-inter;
        font-weight: 200;
        font-size: 20px;
        color: vars.$color-pure-white;
    }
}

.navNews {
    @extend %flex-column;
    @extend %overflow-column;
    height: 100%;
    gap: 30px;
}
