@use 'src/styles/placeholders';
@use 'src/styles/vars';

.gamesContainer {
    @extend %flex-row;

    justify-content: space-evenly;
    gap: vars.$page-padding;
    padding-right: vars.$page-padding;
}

.gamesWrap {
    @extend %wrap;
}
