@use 'src/styles/placeholders';
@use 'src/styles/vars';

.horizontal {
    @extend %flex-row;
    @extend %overflow-row;
    padding-bottom: vars.$spacing;
    scrollbar-width: thin;
}

.vertical {
    @extend %flex-column;
    @extend %overflow-column;
    gap: 2rem;
    padding-right: vars.$spacing;
    scrollbar-width: thin;
}
