@use 'src/styles/placeholders';

$spacing: 0.95rem;

.horizontal {
    @extend %flex-row;
    @extend %overflow-row;
    padding: $spacing 0;
}

.vertical {
    @extend %flex-column;
    @extend %overflow-column;
    gap: 2rem;
    padding: 0 $spacing 0 0;
}
