@use 'src/styles/vars';
@use 'src/styles/placeholders';

$box-sizing: 50px;

.rating {
    display: flex;
    @extend %flex-center;

    border-radius: 20%;
    width: $box-sizing;
    height: $box-sizing;

    font-size: 1.5rem;
    color: vars.$text-dark-alt;
}
