.newsArticle {
    $width: 250px;

    background: lightgrey;
    width: $width;
    max-width: $width;

    p {
        padding: 5px;
        font-weight: 600;
    }

    img {
        width: 100%;
        object-fit: fill;
    }
}
