@use 'src/styles/placeholders';
@use 'src/styles/vars';
@use 'src/styles/mixins';

.newsArticle {
    @extend %flex-row;
    height: 230px;
    gap: 8px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div {
        width: 50%;
    }
}

.title {
    @include mixins.ellipsis(20px);
    @extend %font-inter;
    color: vars.$color-lotion;
}

.date {
    @extend %date-text;
}

.description {
    @include mixins.ellipsis(16px, 4);

    // Our styles
    @extend %font-lato;
    margin-top: vars.$spacing;
    color: vars.$color-lotion;
}
