@use 'src/styles/vars';
@use 'src/styles/placeholders';
@use 'src/styles/mixins';

$spacing: 0.5rem;

.gameCard {
    @extend %flex-column;
    gap: $spacing;
    padding: $spacing;
    border-radius: $spacing;
    width: 275px;
    height: 475px;
    background: vars.$bg-dark-lightest;
}

.gameImgContainer {
    width: 175px; // 132px half image width
    height: 250px; // 187px half image height

    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.gameCardHead {
    @extend %flex-row;
    align-items: center;
    gap: $spacing;
}

.headText {
    @extend %flex-column;
    justify-content: space-around;
    height: 100%;
}

.title {
    @include mixins.ellipsis(24px, 1, 1.1);
    @extend %font-lato;
    font-weight: bold;
}

.date {
    @extend %date-text;
}

.summary {
    @include mixins.ellipsis(16px, 7, 1.2);
}

// Classes & Vars for styles based on rating.
$high: vars.$color-ufo-green;
$mid: vars.$color-orange;
$low: vars.$color-carmine-pink;
$noRating: #7e8aa9;
$sideBarSize: 0.5rem;

@mixin sideBar($color: $noRating) {
    border-left: $sideBarSize solid $color;
}

.sideBarHigh {
    @include sideBar($high);
}
.sideBarMid {
    @include sideBar($mid);
}
.sideBarLow {
    @include sideBar($low);
}
.sideBarNoRating {
    @include sideBar;
}

@mixin bgColor($color: $noRating) {
    background-color: $color;
}
// <Rating />
.highRating {
    @include bgColor($high);
}
.midRating {
    @include bgColor($mid);
}
.lowRating {
    @include bgColor($low);
}
.noRating {
    @include bgColor($noRating);
}
