@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #262626;
    color: #e1e1e1;
    font-family: 'Lato', sans-serif;
}

h2,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}
